conda install python=3.10.12

# 基本機器學習庫
conda install pytorch torchvision torchaudio pytorch-cuda=11.8 -c pytorch -c nvidia

pip install librosa

# Hugging Face 
pip install "transformers[torch]" datasets==2.17.1 huggingface_hub

# 日語處理
pip install fugashi mecab-python3 ipadic pykakasi

# 其他數據處理和音頻處理工具
pip install numpy pyarrow 

# 降噪和語音處理
pip install "modelscope[multi-modal]"
pip install uvicorn 
conda install -c conda-forge ffmpeg

# ASR model
pip install Cython
git clone https://github.com/reazon-research/ReazonSpeech
pip install --no-warn-conflicts ReazonSpeech/pkg/nemo-asr
pip install ReazonSpeech/pkg/nemo-asr

# 網頁伺服器
pip install flask flask-ngrok pyngrok pydub
